.section {
  width: 100%;
  min-height: 100vh;
}
.container {
  /* width: 80%; */
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content_section {
  float: left;
}
.content_section .title {
  text-transform: uppercase;
  font-size: 28px;
}
.content_section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}
.content_section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.content_section .content .button {
  margin-top: 30px;
}
.content_section .content .button a {
  background-color: #333;
  border: 1px solid #333;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
  transition: all 0.3s ease;
}
.content_section .content .button a:hover {
  background-color: #fff;
  color: #333;
}
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content_section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image_section {
    float: none;
    width: 100%;
  }
  .image_section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content_section .title {
    text-align: center;
    font-size: 19px;
  }
  .content_section .content .button {
    text-align: center;
  }
  .content_section .content .button a {
    padding: 9px 30px;
  }
}
