.update-profile-container {
  min-height: 90vh;
}

.profile-card {
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.update-profile-btn {
  font-size: 1.25rem;
  transition: all 0.3s ease-in-out;
}

.update-profile-btn:hover {
  color: #695cfe !important;
  border: 1px solid #695cfe !important;
  background-color: transparent !important;
}

@media screen and (max-width: 992px) {
  .profile-card {
    width: 75% !important;
  }
}

@media screen and (max-width: 576px) {
  .profile-card {
    width: 100% !important;
  }
}
